{% extends "base.html" %}

{% block title %}Register |{% endblock title %}

{% block style %}
#newtoCW{
  font-family: HighTowerText_Regular;
  font-weight: 600;
  font-size: 30px;
  color: wheat;
  margin-right: 2%;
  animation: slideInFromLeft 0.5s ease-in;
}
@media (min-width: 630px) {
  #newtoCW {
    margin-right: 40%;
  }
}
#registerbox-abovetext{
  margin-top: 20px;
  font-size: 150%;
  margin-bottom: 50px;
}
.register-box {
  border: 1px solid #ddd;
  padding: 65px;
  width: 400px;
  height: 820px;
  text-align: center;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  animation: shadow-pulse 3s infinite, animateBg 2s linear infinite;
}
.register-box h2{
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  font-family: HighTowerText_Italic;
}
.registerButton{
  width: 90%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  font-family: HighTowerText_Italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
.registerButton:hover {
  background-color: rgba(7, 46, 98, 0.4);
  color: wheat;
  animation: shadow-pulse 4.5s infinite;
}
.registerButton:active {
  transform: scale(0.95);
  box-shadow: none; 
  transition: transform 0.2s, box-shadow 0.2s; 
}
.register-link{
  font-size: .96em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.15em;
}
.register-link p a:hover{
  text-decoration: underline;
}
@media (max-width: 360px){
  .register-box{
    width: 100%;
  }
  .input-box{
    width: 290px;
  }
}
#registerbox-belowtext1{
  margin-top: 50px;
  font-size: 195%;
  margin-bottom: 10px;
  font-family: HighTowerText_Italic;
  animation: magicShadow 6s infinite;
}
#registerbox-belowtext2{
  margin-top: 20px;
  font-size: 150%;
  margin-bottom: 50px;
}
{% endblock style %}

{% block body %}
  <h5 id="newtoCW">New to CryptWizard..??</h5>
  <p id="registerbox-abovetext">
    <em
      >Join us to Unleash your Inner Wizard. Let the Magic flow through you as
      you take control of your online secrets</em
    >.
  </p>
  <div>
    <div class="register-box">
      <form method="post" action="/register/">
      {% csrf_token %}
        <h2>Registration</h2>
        <div class="input-box">
          <span class="icon"><i class="bx bx-user"></i></span>
          <input type="text" name="username" required />
          <label for="username">Username</label>
        </div>
        <div class="input-box">
          <span class="icon"><i class='bx bxs-user-detail' ></i></span>
          <input type="text" name="firstname" required />
          <label for="firstname">First Name</label>
        </div>
        <div class="input-box">
          <span class="icon"><i class='bx bxs-user-detail' ></i></span>
          <input type="text" name="lastname" required />
          <label for="lastname">Last Name</label>
        </div>
        <div class="input-box">
          <span class="icon"><i class="bx bxs-envelope"></i></span>
          <input type="text" name="email" required />
          <label for="email">Email</label>
        </div>
        <div class="input-box">
          <span class="icon" id="passwordToggle"><i class="bx bxs-lock-alt"></i></span>
          <input type="password" id="passwordInput" name="password" required/>
          <label for="password">Password</label>
        </div>
        <div class="input-box">
          <span class="icon" id="confirmPasswordToggle"><i class="bx bx-lock-alt"></i></span>
          <input type="password" id="confirmPasswordInput" name="confirm_password" required />
          <label for="confirm_password">Confirm Password</label>
        </div>
        <button type="submit" class="registerButton">Register</button>
        <div class="register-link">
          <p>
            Already have an account?<br /><em>Ready to unlock your magical vault?</em><br /><a
              href="/signin"
              >Sign in</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
  <p id="registerbox-belowtext1">
    Ready to harness the power of magic in the digital realm?
  </p>
  <p id="registerbox-belowtext2">
    Click <em>Register</em> to unleash the enchanted spell that grants you control
    over your digital world.
  </p>
{% endblock body %}

{% block script %}

{% endblock script %} 