{% extends "base.html" %} 

{% block title %}Register |{% endblock title %}

{% block body %}
<h5>New to CryptWizard..??</h5>
<p>Join us to unlock your inner Wizard. Let the magic flow through you as you take control of your online secrets.</p>
<button type="button" class="btn btn-primary btn-lg"> Register </button>
<br>
<br>
<p>Ready to harness the power of magic in the digital realm? click <em>Register</em> to unleash the enchanted spell that grants you control over your digital world.</p>
{% endblock body%}