{% extends "base.html" %} 

{% block title %}Signin |{% endblock title %}

{% block body %}
<h5>Welcome back Mighty Wizard!</h5>
<p>Incant your way your world of mystery and enchantment. Unlock the portal to your digital kingdom, into the mystical world of secure password management.</p>
<p>Let the enchantment begin....!!!</p>
<button type="button" class="btn btn-primary btn-lg"> Signin </button>
<br>
<p>Click to unleash the enchanted spell that grants you control over your secure digital realm.</p>
<p>Your digital secrets await your command.....</p>
{% endblock body%}