{% extends "base.html" %} 

{% block title %}Signin |{% endblock title %}

{% block style %}
#mightyWizard{
  font-family: "High Tower Text";
  font-weight: 600;
  font-size: 195%;
  color: whitesmoke;
  font-style: italic;
  margin-right: 2%;
  margin-bottom: 20px;
  animation: smallToBig 0.35s ease-in;
}
@media (min-width: 630px) {
  #mightyWizard {
    margin-right: 40%;
  }
}
#signinbox-abovetext1{
  font-size: x-large;
  font-style: italic;
  margin-top: 10px;
}
#signinbox-abovetext2{
  font-size: xx-large;
  font-style: italic;
  font-family: "High Tower Text";
  margin-bottom: 30px;
  animation: magicShadow 6s infinite;
}
.signin-box {
  border: 1px solid #ddd;
  padding: 65px;
  width: 400px;
  height: 500px;
  text-align: center;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  margin: 0 auto;
  animation: shadow-pulse 3s infinite, animateBg 2s linear infinite;
}
.signin-box h2{
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  font-family: "High Tower text";
  font-style: italic;
}
.remember-forgot{
  margin: -15px 0 15px;
  font-size: 1em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  margin-right: 3px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.signinButton{
  width: 90%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  font-family: "High Tower Text",sans-serif;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
.signinButton:hover {
  background-color: rgba(7, 46, 98, 0.4);
  color: wheat;
  animation: shadow-pulse 4.5s infinite;
}
.signinButton:active {
  transform: scale(0.95);
  box-shadow: none; 
  transition: transform 0.2s, box-shadow 0.2s; 
}
.signin-link{
  font-size: .96em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.signin-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.15em;
}
.signin-link p a:hover{
  text-decoration: underline;
}
@media (max-width: 360px){
  .signin-box{
    width: 100%;
  }
  .input-box{
    width: 290px;
  }
}
#signinbox-belowtext1{
  margin-top: 50px;
  font-size: 155%;
  margin-bottom: 10px;
  font-style: italic;
}
#signinbox-belowtext2{
  margin-top: 20px;
  font-size: 150%;
  margin-bottom: 50px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: wheat
}
{% endblock style %}

{% block body %}
<div class="content">
    <h5 id="mightyWizard">Welcome back Mighty Wizard!</h5>
    <p id="signinbox-abovetext1">Unlock the portal to your digital kingdom, into the mystical world of secure password management.</p>
    <p id="signinbox-abovetext2">Let the enchantment begin....!!!</p>
    <div>
        <div class="signin-box">
          <form action="">
            <h2>Sign in</h2>
            <div class="input-box">
              <span class="icon"><i class='bx bxs-user'></i></span>
              <input type="text" required />
              <label for="">Username</label>
            </div>
            <div class="input-box">
              <span class="icon"><i class="bx bxs-lock-alt"></i></span>
              <input type="password" required />
              <label for="">Password</label>
            </div>
            <div class="remember-forgot">
                <label for=""><input type="checkbox"> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="signinButton">Sign in</button>
            <div class="signin-link">
              <p>
                Don't have an account?<br /><em>Ready to unleash your Inner Wizard?</em><br /><a
                  href="/register"
                  >Register</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    <p id="signinbox-belowtext1">Click to unleash the enchanted spell that grants you control over your secure digital realm.</p>
    <p id="signinbox-belowtext2">Your digital secrets await your command.....</p>
</div>
{% endblock body%}